<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdust.studentsystem.mapper.AdminMapper">
    <resultMap id="adminList" type="com.sdust.studentsystem.entity.Admin">
        <id column="adminid" property="adminid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="selectAdmin" parameterType="java.util.Map" resultMap="adminList">
        SELECT * FROM admin WHERE #{username} = username AND #{password} = password and state = '1'
    </select>

    <select id="selectAdmin2" parameterType="java.util.Map" resultMap="adminList">
        SELECT * FROM admin WHERE #{username} = username
    </select>

    <select id="selectAdminList" resultMap="adminList">
        SELECT * FROM admin
    </select>

    <insert id="addadmin" parameterType="java.util.Map">
        insert into admin (username,password,state) values (#{username},#{password},'1')
    </insert>

    <update id="startuser" parameterType="java.util.Map">
        update admin set state = '1' where username = #{username}
    </update>

    <update id="stopuser" parameterType="java.util.Map">
        update admin set state = '0' where username = #{username}
    </update>

    <delete id="deleteuser" parameterType="java.util.Map">
        delete from admin where username = #{username}
    </delete>

</mapper>