<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdust.studentsystem.mapper.StudentMapper">
    <resultMap id="studentList" type="com.sdust.studentsystem.entity.Student">
        <id column="sno" property="sno"/>
        <result column="sname" property="sname"/>
        <result column="password" property="password"/>
        <result column="state" property="state"/>
        <result column="teachername" property="teachername"/>
        <result column="major" property="major"/>
        <result column="grade" property="grade"/>
        <result column="status" property="status"/>
        <result column="tel" property="tel"/>
        <result column="culturetype" property="culturetype"/>
        <result column="direction" property="direction"/>
    </resultMap>

    <select id="selectStudent" parameterType="java.util.Map" resultMap="studentList">
        SELECT * FROM student WHERE #{sno}=sno AND #{password}=password and state = '1'
    </select>

    <select id="selectStudent2" parameterType="java.util.Map" resultMap="studentList">
        SELECT * FROM student WHERE #{sno}=sno
    </select>

    <select id="selectStudentList" resultMap="studentList">
        SELECT * FROM student
    </select>

    <select id="selectStudentListByTeacher" parameterType="java.util.Map" resultMap="studentList">
        SELECT * FROM student where teachername = #{teachername}
    </select>

    <update id="startuser" parameterType="java.util.Map">
        update student set state = '1' where sno = #{username}
    </update>

    <update id="stopuser" parameterType="java.util.Map">
        update student set state = '0' where sno = #{username}
    </update>

    <delete id="deleteuser" parameterType="java.util.Map">
        delete from student where sno = #{username}
    </delete>


</mapper>